body{
    background-color: #001935;
}
#tituloprincipal{
    top: 2%;
    font-family: 'Alfa Slab One', cursive;
    color: white;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    left: 100px;
    position:fixed;
}
#iconosearch{
    top: 2.3%;
    left: 380px;
    position: fixed;
    padding: 11px 11px 11px 11px;

}
#barradebusqueda{
    top: 3%;
    left: 425px;
    position: fixed;
    padding: 11px 500px 11px 10px;
    display: block;
    margin: 0;
    border: none;
    color: white;
    text-align: left;
    background: #405368;
    font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
::placeholder{
    color: rgb(0,0,0,0.5);

}
#registrarse{
    background-color:#03b8ff;
	text-decoration: none;
	padding:10px 90px;
    display:inline-block;
    color: white;
    border:none;
    top: 3.5%;
    right: 1%;
    position:fixed;
    cursor: pointer;
}
#iniciar{
    background-color:white;
    color: #03b8ff;
	text-decoration: none;
	padding:10px 78px;
    display:inline-block;
    border:none;
    top: 3.5%;
    right: 14%;
    position:fixed;
    cursor: pointer;
}
a{
    text-decoration: none;
    font-family: "Inter",sans-serif;
}
#registrarse:hover{
    background-color: white;
    color: #03b8ff;
}
#iniciar:hover{
    background-color: #03b8ff;
    color: white
}
#informacion{
    top: 140px;
    left: 0%;
    width: 100%;
    height: 550px;
    position: relative;
    background-color: #001935;
}
#subtitulo{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    left: 5%;
    top: 21%;
    position: fixed;
    font-size: 50px;
}
#Contexto{
    color: #BECDE3;
    font-size: 30px;
    text-align: left;
    left: 5%;
    top: 35%;
    position: fixed;
}
#promoimage{
    top: 18%;
    right: 10%;
    position: fixed;

}

#fondo{
    text-align: center;
    color: white;
    left: 0%;
    right: 0%;
    background-color: #21384f;
    bottom: 0%;
    position:fixed;
    width: 100%;
}
.menutit{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menutit2{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sobrenosotros{
    top: 100px;
    left: 0%;
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #001935;
}
#aprende{
    top: 3%;
    width: 30%;
    left: 0%;
    text-align: center;
    position: absolute;
}
#estudia{
    top: 3%;
    width: 30%;
    right: 9%;
    text-align: center;
    position: absolute;
}
#futuro{
    top: 3%;
    width: 30%;
    right: 42%;
    text-align: center;
    position: absolute;
}