body{
    background-color: #001935;
}
#tituloprincipal{
    top: 3%;
    left: 2.3%;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    position:fixed;
}
#iconosearch{
    top: 2.3%;
    left: 380px;
    position: fixed;
    padding: 11px 11px 11px 11px;

}
#barradebusqueda{
    top: 3%;
    left: 425px;
    position: fixed;
    padding: 11px 500px 11px 10px;
    display: block;
    margin: 0;
    border: none;
    color: white;
    text-align: left;
    background: #405368;
    font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
::placeholder{
    color: rgb(0,0,0,0.5);

}
#registrarse{
    background-color:#03b8ff;
	text-decoration: none;
	padding:10px 90px;
    display:inline-block;
    color: white;
    border:none;
    top: 3.5%;
    right: 1%;
    position:fixed;
    cursor: pointer;
}
#registrarse:hover{
    color: #03b8ff;
    background-color: white;
}
#tit{
    font-family: 'Alfa Slab One', cursive;
    color: white;
    font-size: 80px;
    top:15%;
    left:41%;
    position: fixed;
}
.form{
    width: 100%;
    height: 50px;
    top: 300px;
    left: 750px;
    max-width: 400px;
    background: none;
    position: relative;
    overflow: hidden;
}
.form input{
    width: 100%;
    height: 100%;
    background: none;
    color: white;
    outline: 0px;
    padding-top: 10px;
    border: none;
}
.form .arribacorreo{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7;
}
.form .arribacorreo:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #03b8ff;
    transform: translateX(-100%); 
    transition: all 0.3s ease;
}
.arribacorreo2{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: white;
}
.form input:focus + .arribacorreo .arribacorreo2, .form input:valid + .arribacorreo .arribacorreo2{
    transform: translateY(-150%);
    font-size: 14px;
    color: #03b8ff;
}
.form input:focus + .arribacorreo::after, .form input:valid + .arribacorreo::after{
    transform: translateX(0%);
}

.form2{
    width: 100%;
    height: 50px;
    top: 330px;
    left: 750px;
    max-width: 400px;
    background: none;
    position: relative;
    overflow: hidden;
}
.form2 input{
    width: 100%;
    height: 100%;
    background: none;
    color: white;
    outline: 0px;
    padding-top: 10px;
    border: none;
}
.form2 .contra{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7;
}
.form2 .contra:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #03b8ff;
    transform: translateX(-100%); 
    transition: all 0.3s ease;
}
.contra2{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: white;
}
.form2 input:focus + .contra .contra2, .form2 input:valid + .contra .contra2{
    transform: translateY(-150%);
    font-size: 14px;
    color: #03b8ff;
}
.form2 input:focus + .contra::after, .form2 input:valid + .contra::after{
    transform: translateX(0%);
}
h4{
    top: 450px;
    left: 800px;
    font-size: 12px;
    position: fixed;
    color: white;
    font-family: "Favorit",
    "Helvetica Neue",
    "HelveticaNeue",
    Helvetica,
    Arial,
    sans-serif;
    text-align: center;
}
#anose{
    background-color:white;
    color: #03b8ff;
	text-decoration: none;
	padding:10px 78px;
    display:inline-block;
    border:none;
    top: 550px;
    right: 44.3%;
    position:fixed;
    cursor: pointer;
}
#anose:hover{
    background-color: #03b8ff;
    color: white
}
#olvidar{
    top:587px;
    left: 845px;
    position: absolute;
    text-decoration: none;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}
#google{
    top: 630px;
    height: 30px;
    width: 235px;
    right: 44.3%;
    border: none;
    margin: 0;
    position: fixed;
}
#apple{
    top: 675px;
    height: 30px;
    width: 235px;
    right: 44.3%;
    border: none;
    margin: 0;
    position: fixed;
}
#googleima{

    border: none;
    margin: 0;

}